main h2 {
	font-size: 18pt;
}


#tagline-container {
    width: 75%;
	margin: auto;
    text-align: left;
    margin-top: 1rem;
    line-height: .3;
    display: block;
}

main {
	
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	h1 {

	}
	
	main h2 {
		font-size: 13pt;
	}

	#tagline-container {
		padding-left: 0;
		width: 75%;
	}

}

/* Medium and up */
@media screen and (min-width: 40em) {
  #tagline-container {
    width: 95%;
    padding: 3rem 0;
  }
  
  main section {
    display: inline-block;
  }
  
  #tagline-container h2{
      font-size: 1.25rem;
  }
  
    img {
    width: 25%;
    text-align: auto;
    display: inline-block;
    padding-top: 1rem;
  }
  
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {

  #tagline-container {
    
  
  }
  
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}