main h2 {
	font-size: 46pt;
}


#tagline-container {
    max-width: 56%;
    margin: auto;
    margin-top: 3rem;
    line-height: 310%;
    margin-bottom: 3rem;
}

#tagline-container h2 {
    line-height: 175%;
}

.portfolio-row {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-square {
  padding: 0;
  flex-basis: 25rem;
  align-self: stretch;
  margin-left: 4%;
  margin-right: 4%;
  box-shadow: 1px 4px 4px 0px #7F7F7F;
  margin-bottom: 5rem;
}

.portfolio-square img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.row {
  max-width: none;
}

h3 {
  font-size: 20pt;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 1.4rem;
  margin-bottom: .2rem;
}

h4 {
  font-size: 10pt;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: .06rem;
  font-weight: 400;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 0rem;
}

.portfolio-square p {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: .8rem;
/*  font-weight: 300;*/
  font-size: 13pt;
  line-height: 1.5rem;
}

#about {
  width: 78%;
  margin: 5rem auto;
}

#about img {
  padding: 0;
}

#about p {
  font-size: 14pt;
  margin-bottom: 1.2rem;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	h1 {

	}
	
	main h2 {
		font-size: 13pt;
	}

	#tagline-container {
		padding-left: 0;
		width: 75%;
        line-height: 100%;
	}

}

/* Medium and up */
@media screen and (min-width: 40em) {
  #tagline-container {
    width: 95%;
    padding: 3rem 0;
  }
  
  main section {
    display: inline-block;
  }
  
  #tagline-container h2{
      font-size: 1.5rem;
  }
  
  img {
      width: 25%;
      text-align: auto;
      display: inline-block;
      padding-top: 1rem;
  }
  
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {

  #tagline-container {
    
  
  }
  
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}